{% extends '_layout.html' %}

{% block title %}About Page{% endblock %}

{% block body %}


<!-- styles -->
    <style> 
        img {  
          width: 350px; 
          float: left; 
          margin-right: 10px; 
        } 

        .element {
            
            margin-top: 4rem;
            margin-bottom: 4rem;
        }
        .element_2 {
            
            margin-top: 2rem;

        }

        .mask-custom {
            backdrop-filter: contrast(75%) brightness(115%) saturate(85%) sepia(0%) hue-rotate(0deg) grayscale(0%) invert(0%) blur(0px);
            mix-blend-mode: soft-light;
            background: rgba(240, 149, 128, 0.2);
            opacity: 1;
        }
        .thumbnail:hover {
            margin-top: 4rem;
            margin-bottom: 4rem;
            background-color:  45deg,
            rgba(29, 236, 197, 0.5),
            rgba(91, 14, 214, 0.5) 100%;
            opacity: 0.5;
        }
      </style> 

<h1>About page</h1>
<img src="https://mdbootstrap.com/img/new/standard/city/078.webp" class="w-100" alt="Alternative text"/>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus quas consequatur fugiat illo quasi, consectetur quae esse id nesciunt accusantium eius distinctio ea quibusdam minima consequuntur ex labore sunt nemo.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus quas consequatur fugiat illo quasi, consectetur quae esse id nesciunt accusantium eius distinctio ea quibusdam minima consequuntur ex labore sunt nemo.</p>
<h1>Team Members</h1>

<!-- TEAM MEMBER #1--> 
<Div class="element_2">          
    <!-- image div starts here: found how to do zoom on hover: https://mdbootstrap.com/docs/standard/content-styles/hover-effects/ -->
    <!-- links-->
    <!-- https://stackoverflow.com/questions/42859313/hover-effects-in-bootstrap-->
    <!-- https://original.newsbreak.com/@cyberbotmachines-1588956/2361410518094-how-to-align-text-and-image-in-same-line-in-html-->
    
    <div class="col-lg-5 col-md-7 col-sm-7 col-xs-5">
        <a class="thumbnail" title="team member" >
            <img
            src="https://mdbootstrap.com/img/new/standard/city/078.webp"
            class="w-100"
            alt="Alternative text"
            />
        </a>
    </div> 
        <!-- end of image div-->
    <div >
        <ul class="list-unstyled">
            <h1>Team Member #1</h1>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Consectetur adipiscing elit</li>
            <li>Integer molestie lorem at massa</li>
            <li>Facilisis in pretium nisl aliquet</li>
            <li>Nulla volutpat aliquam velit
            <li>Phasellus iaculis neque</li>
            <li>Purus sodales ultricies</li>
           
        </ul>
    </div>
</Div>

<!-- TEAM MEMBER #2-->
<Div class="element">          
    <!-- image div starts here: found how to do zoom on hover: https://mdbootstrap.com/docs/standard/content-styles/hover-effects/ -->
    <!-- links-->
    <!-- https://stackoverflow.com/questions/42859313/hover-effects-in-bootstrap-->
    <!-- https://original.newsbreak.com/@cyberbotmachines-1588956/2361410518094-how-to-align-text-and-image-in-same-line-in-html-->
    
    <div class="col-lg-5 col-md-7 col-sm-7 col-xs-5">
        <a class="thumbnail" title="team member" >
            <img
            src="https://mdbootstrap.com/img/new/standard/city/078.webp"
            class="w-100"
            alt="Alternative text"
            />
        </a>
    </div> 
        <!-- end of image div-->
    <div >
        <ul class="list-unstyled">
            <h1>Team Member #2</h1>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Consectetur adipiscing elit</li>
            <li>Integer molestie lorem at massa</li>
            <li>Facilisis in pretium nisl aliquet</li>
            <li>Nulla volutpat aliquam velit
            <li>Phasellus iaculis neque</li>
            <li>Purus sodales ultricies</li>
           
        </ul>
    </div>
</Div>
<!-- TEAM MEMBER #3-->
<Div class="element">          
    <!-- image div starts here: found how to do zoom on hover: https://mdbootstrap.com/docs/standard/content-styles/hover-effects/ -->
    <!-- links-->
    <!-- https://stackoverflow.com/questions/42859313/hover-effects-in-bootstrap-->
    <!-- https://original.newsbreak.com/@cyberbotmachines-1588956/2361410518094-how-to-align-text-and-image-in-same-line-in-html-->
    
    <div class="col-lg-5 col-md-7 col-sm-7 col-xs-5">
        <a class="thumbnail" title="team member" >
            <img
            src="https://mdbootstrap.com/img/new/standard/city/078.webp"
            class="w-100"
            alt="Alternative text"
            />
        </a>
    </div> 
        <!-- end of image div-->
    <div >
        <ul class="list-unstyled">
            <h1>Team Member #3</h1>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Consectetur adipiscing elit</li>
            <li>Integer molestie lorem at massa</li>
            <li>Facilisis in pretium nisl aliquet</li>
            <li>Nulla volutpat aliquam velit
            <li>Phasellus iaculis neque</li>
            <li>Purus sodales ultricies</li>
            
        </ul>
    </div>
</Div>
<!-- TEAM MEMBER #4-->
<Div class="element">          
    <!-- image div starts here: found how to do zoom on hover: https://mdbootstrap.com/docs/standard/content-styles/hover-effects/ -->
    <!-- links-->
    <!-- https://stackoverflow.com/questions/42859313/hover-effects-in-bootstrap-->
    <!-- https://original.newsbreak.com/@cyberbotmachines-1588956/2361410518094-how-to-align-text-and-image-in-same-line-in-html-->
    
    <div class="col-lg-5 col-md-7 col-sm-7 col-xs-5">
        <a class="thumbnail" title="team member" >
            <img
            src="https://mdbootstrap.com/img/new/standard/city/078.webp"
            class="w-100"
            alt="Alternative text"
            />
        </a>
    </div> 
        <!-- end of image div-->
    <div >
        <ul class="list-unstyled">
            <h1>Team Member #4</h1>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Consectetur adipiscing elit</li>
            <li>Integer molestie lorem at massa</li>
            <li>Facilisis in pretium nisl aliquet</li>
            <li>Nulla volutpat aliquam velit
            <li>Phasellus iaculis neque</li>
            <li>Purus sodales ultricies</li>
            
            
        </ul>
    </div>
</Div>

<!-- TEAM MEMBER #5-->
<Div class="element">          
    <!-- image div starts here: found how to do zoom on hover: https://mdbootstrap.com/docs/standard/content-styles/hover-effects/ -->
    <!-- links-->
    <!-- https://stackoverflow.com/questions/42859313/hover-effects-in-bootstrap-->
    <!-- https://original.newsbreak.com/@cyberbotmachines-1588956/2361410518094-how-to-align-text-and-image-in-same-line-in-html-->
    
    <div class="col-lg-5 col-md-7 col-sm-7 col-xs-5">
        <a class="thumbnail" title="team member" >
            <img
            src="https://mdbootstrap.com/img/new/standard/city/078.webp"
            class="w-100"
            alt="Alternative text"
            />
        </a>
    </div> 
        <!-- end of image div-->
    <div >
        <ul class="list-unstyled">
            <h1>Team Member #5</h1>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Consectetur adipiscing elit</li>
            <li>Integer molestie lorem at massa</li>
            <li>Facilisis in pretium nisl aliquet</li>
            <li>Nulla volutpat aliquam velit
            <li>Phasellus iaculis neque</li>
            <li>Purus sodales ultricies</li>
            
            
        </ul>
    </div>
</Div>

<!-- TEAM MEMBER #6-->
<Div class="element">          
    <!-- image div starts here: found how to do zoom on hover: https://mdbootstrap.com/docs/standard/content-styles/hover-effects/ -->
    <!-- links-->
    <!-- https://stackoverflow.com/questions/42859313/hover-effects-in-bootstrap-->
    <!-- https://original.newsbreak.com/@cyberbotmachines-1588956/2361410518094-how-to-align-text-and-image-in-same-line-in-html-->
    
    <div class="col-lg-5 col-md-7 col-sm-7 col-xs-5">
        <a class="thumbnail" title="team member" >
            <img
            src="https://mdbootstrap.com/img/new/standard/city/078.webp"
            class="w-100"
            alt="Alternative text"
            />
        </a>
    </div> 
        <!-- end of image div-->
    <div >
        <ul class="list-unstyled">
            <h1>Team Member #6</h1>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Consectetur adipiscing elit</li>
            <li>Integer molestie lorem at massa</li>
            <li>Facilisis in pretium nisl aliquet</li>
            <li>Nulla volutpat aliquam velit
            <li>Phasellus iaculis neque</li>
            <li>Purus sodales ultricies</li>
            
            
        </ul>
    </div>
</Div>
</body>

{% endblock %}