{% extends '_layout.html' %}

{% block title %}Add Notes{% endblock %}

{% block body %}
<style>
    .scrollbar {
margin-left: 30px;
float: left;
height: 700px;
width: 940px;
background: #fff;
overflow-y: scroll;
margin-bottom: 25px;
}
.force-overflow {
min-height: 450px;
}

.scrollbar-primary::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-primary::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #4285F4; }

.scrollbar-secondary::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-secondary::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-secondary::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #aa66cc; }

  .gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #46508a, rgba(240, 149, 128, 0.2), #dd3675, #b44593);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(25, 95, 161, 0.2), #824f99, #505583, #7e5973);
  }

  .tiledBackground {
      background-image: url(https://www.mozilla.org/media/img/logos/firefox/logo-quantum.9c5e96634f92.png);
      background-size: 150px;
      width: 300px;
      height: 300px;
      border: 2px solid;
      color: pink;
  }
</style>

<section class="vh-100 bg-image" style="background-image: url('https://media3.giphy.com/media/5yYz7skyob4JmTQcHW/giphy.gif?cid=790b7611f29413fa0d575fdc2e06001ea235dc44c416c6b8&rid=giphy.gif&ct=g');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-10 col-xl-10">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-10">
                <style>
                  .scroll-bar {
                    overflow:scroll;
                    height:7%0px;
                  }
                </style>

                <div class="scroll-bar scrollbar-secondary">
                  <!-- div where the code starts-->
                <div> 
                  <h1 class="mt-5">Add notes</h1>
                  <p></p>
                  <form action="/notes" method="post">
                      <div class="mb-3 mt-5">
                          <label for="title" class="form-lable">Post Title</label>
                          <input type="text" name="title" id="title" class="form-control" autocomplete="off" required>
                      </div>
                      <div class="mb-3">
                          <label for="course" class="form-label">Course Name</label>
                          <input type="text" name="course" id="course" class="form-control" autocomplete="off" required>
                      </div>
                      <div class="mb-3">
                          <label for="descript" class="form-label">Description</label>
                          <input type="text" name="descript" id="descript" class="form-control" autocomplete="off" required>
                      </div>
                      <div class="mb-3 col-xs-4">
                        
                          <label for="content" class="form-label">Notes</label>
                          <textarea type="text" name="content" id="content" class="form-control" rows="8" autocomplete="off" required></textarea>
                      </div>
                      
                          <button type="submit" class="btn btn-primary gradient-custom-2 mb-6">Add Notes</button>
                  
                  </form>
                  
              
                </div>
              <!-- div where the code Ends-->

                </div>
                
                
  
              </div>
  
  
              </div>
            </div>
          </div>
        </div>
      </div>
    
  </section>



{% endblock %}