{% extends '_layout.html' %}

{% block title %}Comments{% endblock %}

{% block body %}
<style> 
  .gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #46508a, rgba(240, 149, 128, 0.2), #dd3675, #b44593);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(25, 95, 161, 0.2), #824f99, #505583, #7e5973);
  }

  .tiledBackground {
      background-image: url(https://www.mozilla.org/media/img/logos/firefox/logo-quantum.9c5e96634f92.png);
      background-size: 150px;
      width: 300px;
      height: 300px;
      border: 2px solid;
      color: pink;
  }
</style>


<section class="vh-100 bg-image" style="background-image: url('https://media0.giphy.com/media/x0drjRPXf5gar3A5RC/giphy.gif?cid=ecf05e47kktuuio8djyk89mh0lq5qhhj5bumc8d4296ratqp&rid=giphy.gif&ct=g');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-10 col-xl-10">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-10">
                
                
                <!-- Note Overview -->
                <div>
                  <table class="table table-striped">
                      <thead>
                          <tr>
                              <th scope="col">Note Title</th>
                              <th scope="col">Course Name</th>
                              <th scope="col">Author</th>
                              <th scope="col">Description</th>
                          </tr>
                      </thead>
                      <tbody>
                                <tr>
                                    <td><a href="/single_note/{{ note.note_id }}">{{ note.title }}</a></td>
                                    <td>{{ note.course }}</td>
                                    <td>{{ note.author.username }}</td>
                                    <td>{{ note.descript }}</td>
                                </tr>
                      </tbody>
                  </table>
                </div>

                <!-- Comment Form -->
                <h4 class="mb-5">Comments</h4>
                <form action="/notes/{{ note.note_id }}/comments" method="post" class="mb-5">
                  <div class="input-group">
                    <input type="text" name="comment" id="comment" class="form-control" placeholder = "Add a comment" autocomplete="off" required>
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-primary gradient-custom-2">Submit</button>
                    </div>
                  </div>
                </form>
                <!--View Comments-->
                <style>
                  .scroll-bar {
                    overflow:scroll;
                    height:400px;
                  }
                </style>
                <div class="scroll-bar">
                  <table style="width: 100%" class="table">
                    <colgroup>
                      <col span="1" style="width: 50%;">
                      <col span="1" style="width: 20%;">
                      <col span="1" style="width: 20%;">
                      <col span="1" style="width: 10%;">
                    </colgroup>
                    <thead>
                      <tr>
                        <th>Comment</th>
                        <th>Author</th>
                        <th>Posted</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for comment in comments %}
                        <tr>
                          
                          <td>{{ comment.content }}</td>
                          <td>{{ user }}</td>
                          <td>{{ comment.username }} </td>
                          <td>{{ comment.time_stamp }}</td>
                          
                          
                         <!-- <td>{{ comment.comment_id }}</td>
                              <td><a href="/comment/{{ comment.comment_id }}">{{ comment.comment_id }}</a></td>
                         -->
                         
                         {% if user == comment.username %}
                          <td><a href="/comment/{{ comment.comment_id }}/edit">edit></td>
                          {% endif %}
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 
{% endblock %}