{% extends '_layout.html' %} 

{% block title %}User Main Dashboard{% endblock %}

{% block body %}

<style> 
  .gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #7580bb, rgba(240, 149, 128, 0.2), #dd3675, #b44593);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(25, 95, 161, 0.2), #967aa3, #505583, #7e5973);
  }

  .tiledBackground {
      background-image: url(https://www.mozilla.org/media/img/logos/firefox/logo-quantum.9c5e96634f92.png);
      background-size: 150px;
      width: 300px;
      height: 300px;
      border: 2px solid;
      color: pink;
  }
</style>

              
<section class="vh-100 bg-image" style="background-image: url('https://media0.giphy.com/media/3ov9k2zerw3d4IjSrS/giphy.gif?cid=790b7611901cdd2082579d4763e6f52c6ccabbea6da061f0&rid=giphy.gif&ct=g');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-10 col-xl-10">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-10">
                <!-- Note Overview -->
                <h1 class="mt-5 mb-5">Welcome {{ user }} to your dashboard</h1>
                <h2 class="mb-5">Here you will find your notes</h2>
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Note Title</th>
                                <th scope="col">Course Name</th>
                                <th scope="col">Author</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for note in notes %}
                                <tr>
                                    <td><a href="/single_note/{{ note.note_id }}">{{ note.title }}</a></td>
                                    <td>{{ note.course }}</td>
                                    <td>{{ note.author.username }}</td>
                                    <td>{{ note.descript }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                    <form action="/edit/{{ session['user']['user_id'] }}/page">
                        <button type="submit" class="btn btn-primary gradient-custom-2 mb-6">Edit User Info</button>
                    </form>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 
{% endblock %}