{% extends '_layout.html' %}

{% block title %}View All Notes{% endblock %}

{% block body %}

<style>
  .gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #2b41be, rgba(240, 149, 128, 0.2), #dd3675, #b44593);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(25, 95, 161, 0.2), #3670b3, #588fa0, #415e94);
  }

  .tiledBackground {
      background-image: url(https://www.mozilla.org/media/img/logos/firefox/logo-quantum.9c5e96634f92.png);
      background-size: 150px;
      width: 300px;
      height: 300px;
      border: 2px solid;
      color: pink;
  }

</style>

<section class="vh-100 bg-image" style="background-image: url('https://media3.giphy.com/media/Zx1iGlaR5Hy4CV0vHD/giphy.gif');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-10 col-xl-10">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-10">
                
                <!-- div where the code starts-->
                <h1>Edit Password</h1>
                <form action="/edit/{{ session['user']['user_id'] }}/password" method="post">
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" id="password" class="form-control" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label for="password_confirm" class="form-label">Password</label>
                        <input type="password" name="password_confirm" id="password_confirm" class="form-control" autocomplete="off">
                    </div>
                        <button type="submit" class="btn btn-success gradient-custom-2 mb-3">Update Password</button>
                </form>
                <form action="/dashboard" method="get">
                    <button type="submit" class="btn btn-primary gradient-custom-2 mt-6 mb-3">Cancel</button>
                </form>    
                <!-- div where the code Ends-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock %}