{% extends '_layout.html' %}

{% block title %}Edit User Info{% endblock %}

{% block body %}
<style>
  .gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #2b41be, rgba(240, 149, 128, 0.2), #dd3675, #b44593);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(25, 95, 161, 0.2), #3670b3, #505583, #31125a);
  }

  .tiledBackground {
      background-image: url(https://www.mozilla.org/media/img/logos/firefox/logo-quantum.9c5e96634f92.png);
      background-size: 150px;
      width: 300px;
      height: 300px;
      border: 2px solid;
      color: pink;
  }

</style>
<section class="vh-100 bg-image" style="background-image: url('https://media4.giphy.com/media/3ohhwGGrCD9wCQ5cwU/giphy.gif?cid=ecf05e47eajgtbfkyixcwgv4xw0ohytzwmzpfdsxq92ketgn&rid=giphy.gif&ct=g');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">

              <!-- search notes code-->
              <div> 
                <h1 class="mt-3">Edit User Information Here</h1>
          
                  <form action="/edit/user/{{ session['user']['user_id'] }}" method="post">
                    <div class="mb-3 mt-5">
                        <label for="username" class="form-lable">Username</label>
                        <input type="text" name="username" id="username" class="form-control" autocomplete="off" required value="{{ user_to_edit.username }}">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" name="email" id="email" class="form-control" autocomplete="off" required value="{{ user_to_edit.email }}">
                    </div>      
                      <button type="submit" class="btn btn-primary gradient-custom-2 mb-3 mt-3">Update</button>     
                  </form>
                  <form action="/edit/{{ session['user']['user_id'] }}/password/page" method="get">
                    <button type="submit" class="btn btn-success gradient-custom-2 mb-3">Change Password</button>
                  </form>
                <form action="/delete/user/{{ session['user']['user_id'] }}/page" method="get">
                    <button type="submit" class="btn btn-danger gradient-custom-2 mb-6">Delete User</button>
                </form>
              </div>
              <!-- search notes code ends here-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}