{% extends '_layout.html' %}

{% block title %}edit comments{% endblock %}

{% block body %}
<style>
  .gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #2b41be, rgba(240, 149, 128, 0.2), #dd3675, #b44593);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(25, 95, 161, 0.2), #3f6ea3, #505583, #17125a);
  }

  .tiledBackground {
      background-image: url(https://www.mozilla.org/media/img/logos/firefox/logo-quantum.9c5e96634f92.png);
      background-size: 150px;
      width: 300px;
      height: 300px;
      border: 2px solid;
      color: pink;
  }
</style>

<section class="vh-100 bg-image" style="background-image: url('https://media4.giphy.com/media/KVZZv14yrSdHjWhPOj/giphy.gif');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-10 col-xl-10">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-10">
                
                <!-- where the notes show -->
                <!-- div where the code starts-->
                <div> 
                    <h1 class="mt-5">Edit Comment</h1>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Comment</th>
                                <th scope="col">Author</th>
                                <th scope="col">Posted</th>
                        
                            </tr>
                        </thead>
                        <tbody>
                                  <tr>
                                    <td>{{ comment.content }}</td>
                                    <td>{{ comment.username }} </td>
                                    <td>{{ comment.time_stamp }}</td>
                                    <td>{{ comment.comment_id }}</td>
                                  </tr>
                        </tbody>
                        
                    </table>
                    <form action="/comment/{{ comment.comment_id }}/edit" method="post">
                        <div class="mb-3 col-xs-4"> 
                            <label for="content" class="form-label">comments</label>
                            <textarea type="text" name="content" id="content" class="form-control" rows="8" autocomplete="off" required value="{{ comment.content }}">{{ comment.content }}
                            </textarea>
                        </div>
                        <button type="submit" class="btn btn-primary mb-3 gradient-custom-2">Finish</button>
                    </form>
                    
                    <form action="/comment/{{ comment.comment_id }}/delete" method="post"> 
                        <button type="submit" class="btn btn-danger gradient-custom-2">delete</button>
                    </form>
                
                  </div>
                <!-- div where the code Ends-->
  
              </div>
  
  
              </div>
            </div>
          </div>
        </div>
      </div>
    
  </section>
{% endblock %}