{% extends '_layout.html' %}

{% block title %}Home Page{% endblock %}

{% block body %}



<style> 
    .gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, rgba(240, 149, 128, 0.2), #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(25, 95, 161, 0.2), #d8363a, #2e3891, #b44593);
    }

    .tiledBackground {
        background-image: url(https://www.mozilla.org/media/img/logos/firefox/logo-quantum.9c5e96634f92.png);
        background-size: 150px;
        width: 300px;
        height: 300px;
        border: 2px solid;
        color: pink;
    }
    

    @media (min-width: 768px) {
        .gradient-form {
        height: 100vh !important;
    }
    
    }
    @media (min-width: 769px) {
        .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }

    
    }

    
            .gradient-custom-3 {
        /* fallback for old browsers */
        background: #84fab0;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
        }
        .gradient-custom-4 {
        /* fallback for old browsers */
        background: #84fab0;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}
</style>
</style>
<!-- have the create an account lead to the sign up page-->
<!-- section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');" -->
<section class="vh-100 bg-image" style="background-image: url('https://media3.giphy.com/media/dtRtziZF2px2skZV4J/giphy.gif?cid=790b7611856c178fef8bc13c2d6c89ba2f40160b53884cd1&rid=giphy.gif&ct=g');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center ">Better Notes, Better Grades</h2>
                <h2 class="text-uppercase text-center mb-5">company title</h2>
  
                
                <form>
                  <p class="text-center">Create and share notes with peers and friends</p>
                 
                  <!-- the start Username div-->
                  <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                    <li class="nav-item" role="presentation">
                      <div class="text-center pt-1 mb-5 pb-1">
                        <a href="/login">
                          <button class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" type="button">Go To Notes
                          </button>
                        </a>
                      </div> 
                    </li>
                    
                    
                  </ul>
                 
                  
                 
            
                  <!-- 2 column grid layout -->
                  <div class="row mb-4">
                    <div class="col-md-6 d-flex justify-content-center">
                      <!-- Checkbox -->
                      
                    </div>
            
                    
                  </div>
            
                  <!-- Submit button -->
                  
            
                  <!-- Register buttons -->
                  <div class="text-center">
                    <p>Not a member? <a href="/signup">Register</a></p>
                  </div>
                </form>
              </div>
                </form>

              </div>

  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



{% endblock %}