{% extends '_layout.html' %}

{% block title %}Search Notes{% endblock %}

{% block body %}
<h1 class="mb-5">Search Notes</h1>
<form action="/search" method="get" class="mb-5">
  <label for="q" class="form-label">Search by title</label>  
  <div class="input-group">
    <input type="text" name="q" id="q" class="form-control" autocomplete="off" required>
    <div class="input-group-append">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>
</form>
<!-- If q is passed to the template, we did a search already -->
{% if search_query != '' %}
{% if notes|length != 0 %}
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Notes</th>
      <th>Creator</th>
      <th>Course</th>
    </tr>
  </thead>
  <tbody>
    {% for note in notes %}
      <tr>
        <td><a href="/notes/{{ note.note_id }}">{{ note.title }}</a></td>
        <td>{{ note.description }}</td>
        <td>{{ note.content }}</td>
        <td>{{ note.creator_id }}</td>
        <td>{{ note.course_id }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No notes found</p>
{% endif %}
{% endif %}
{% endblock %}