{% extends '_layout.html' %}

{% block title %}Search Notes{% endblock %}

{% block body %}
<style> 

.padding {

margin-left: -10px;
float: left;
height: 570px;
width: 550px;
background: #fff;

margin-bottom: 25px;
}

.scrollbar {
margin-left: 40px;
float: left;
height: 500px;
width: 450px;
background: #fff;
overflow-y: scroll;
margin-bottom: 25px;
}
.force-overflow {
min-height: 450px;
}

.scrollbar-primary::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-primary::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #4285F4; }

.scrollbar-secondary::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-secondary::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-secondary::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #aa66cc; }

  .gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #68625e, rgba(240, 149, 128, 0.2), #dd3675, #b44593);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(25, 95, 161, 0.2), #9582a1, #2e3891, #7e5973);
  }

  .tiledBackground {
      background-image: url(https://www.mozilla.org/media/img/logos/firefox/logo-quantum.9c5e96634f92.png);
      background-size: 150px;
      width: 300px;
      height: 300px;
      border: 2px solid;
      color: pink;
  }
</style>

<section class="vh-100 bg-image" style="background-image: url('https://media2.giphy.com/media/26mkhTKYBbyy8904g/giphy.gif?cid=790b7611af2cc6bd64265faa1f01c20c3ec48928f42f394b&rid=giphy.gif&ct=g');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100 ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10 col-md-10 col-lg-10 col-xl-5 ">
          <div class="card-body p-3 padding" style="border-radius: 15px;">
            <div class="  ">
              <style>
                .scroll-bar {
                  overflow:scroll;
                  height:540px;
                }
              </style>

              <div class="scroll-bar scrollbar-secondary">
                <!-- search notes code-->
                <h1 class="mb-5"></h1>  
              <h1 class="mb-5">Search Notes</h1>
              <form action="/search" method="get" class="mb-5">
                <!-- <label for="q" class="form-label">Search by title</label> -->  
                <select name="filter" id="filter" class="form-select" required>
                  <option value="Title">Search by Title</option>
                  <option value="Course">Search by Course</option>
                  <option value="Author">Search by Author</option>          
                </select>
                <div class="input-group mt-5">
                  <input type="text" name="q" id="q" class="form-control" autocomplete="off" required>
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-primary gradient-custom-2">Search</button>
                  </div>
                </div>
              </form>
              <!-- If q is passed to the template, we did a search already -->
              {% if search_query != '' %}
              {% if notes|length != 0 %}
              <table class="table">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Creator</th>
                    <th>Course</th>
                  </tr>
                </thead>
                <tbody>
                  {% for note in notes %}
                    <tr>
                      <td><a href="/single_note/{{ note.note_id }}">{{ note.title }}</a></td>
                      <td>{{ note.descript }}</td>
                      <td>{{ note.author.username }}</td>
                      <td>{{ note.course }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% else %}
              <p>No notes found</p>
              {% endif %}
              {% endif %}
              <!-- search notes code ends here-->
            </div>
              </div>
              


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}