{% extends '_layout.html' %}

{% block title %} Edit Notes {% endblock %}

{% block body %}
<style> 
  .gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #68625e, rgba(240, 149, 128, 0.2), #dd3675, #b44593);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(25, 95, 161, 0.2), #9582a1, #2e3891, #7e5973);
  }

  .tiledBackground {
      background-image: url(https://www.mozilla.org/media/img/logos/firefox/logo-quantum.9c5e96634f92.png);
      background-size: 150px;
      width: 300px;
      height: 300px;
      border: 2px solid;
      color: pink;
  }
</style>


<section class="vh-100 bg-image" style="background-image: url('https://media1.giphy.com/media/SHzl9Rp6UjlJm9GbSg/giphy.gif?cid=ecf05e47aebcbyo25kk6j2ih7t7xnm5t3cko7h4vdfxs16mc&rid=giphy.gif&ct=g');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <ul class=" mb-5"></ul>
        <div class="col-12 col-md-9 col-lg-10 col-xl-10 ">
          
          <div class="card" style="border-radius: 30px;">
            <div id="" style="overflow-y:scroll;  height:1100px;"> 
            
            
            
            <div class="card-body p-5 ">
              
              
              <!-- start of single notes code -->
              <div>
                <p class="mb-3 ">Notes: {{ note.title }}</p>
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th scope="col ">Note Title</th>
                            <th scope="col ">Course Name</th>
                            <th scope="col ">Author</th>
                            <th scope="col ">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                              <tr>
                                  <td class="">{{ note.title }}</td>
                                  <td class="">{{ note.course }}</td>
                                  <td class="">{{ note.author.username }}</td>
                                  <td class="">{{ note.descript }}</td>
                              </tr>
                    </tbody>
                </table>
                <div class="mb-3 col-xs-4 ">
                  <button id="likeBtn" class="btn btn-primary gradient-custom-2 ">Like</button>
                  <i class="fas fa-heart"></i>
                  <label><a id="counter">{{note.likes}}</a></label>
                  <!--Not Green: btn btn-outline-success btn-sm Green:btn btn-success btn-sm-->
                </div>
                <div class="mb-3 col-xs-4">
                  <label for="content" class="form-label ">{{ note.title }}</label>
                  <p type="text" name="content" id="content" class="form-control " rows="8" autocomplete="off" required>
                    {{ note.content }}
                    
                  </p>
                  
                </div>
              </div>
              {% if user == note.author.username %}
              <a href="/notes/{{ note.note_id }}/edit">
                <div class="text-center pt-1 mb-1 pb-1">
                  <!-- start of login button, create a block that only brings you to the dashboard page when given the right info-->
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Edit Notes</button>
                  <!-- end of login button-->       
                </div>
              </a>
              {% endif %}
              <!-- end of single notes code-->

              <div class="scroll-bar">
              <!-- go to comments-->
              <a href="/notes/{{ note.note_id }}/comments">
               
                <div class="text-center pt-1 mb-4 pb-1">
                  <!-- start of login button, create a block that only brings you to the dashboard page when given the right info-->
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-1" type="submit">View Comments</button>
                  <!-- end of login button-->       
                </div>
              </a>
              
              <tr>
                
                
                
                <section class="gradient-custom">
                  <div class="container  py-5">
                    <div class="row d-flex justify-content-center">
                      <div class="col-md-12 col-lg-10 col-xl-8">
                        <div id="" style="overflow-y:scroll;  height:350px;"> 
                        <div class="card">
                          <div class="card-body p-4">
                            <h4 class="text-center mb-4 pb-2">Comment Section </h4>
                            {% for comment in comments %}
                            <div class="row mb-3">
                              <div class="col">
                                <div class="d-flex flex-start">
                                  <!-- code for the profile_pics of other users-->
                                  {% for all_users in users %}
                                    {% if all_users.username == comment.username %}
  
                                  <img class="rounded-circle shadow-1-strong me-4"
                                    src="{{all_users.profile_pic}}" alt="avatar" width="65"
                                    height="65" />
                                   
                                    {% endif %}
                                    {% endfor %}
                                  <div class="flex-grow-1 flex-shrink-1">
                                    <div>
                                      <div class="d-flex justify-content-between align-items-center">
                                        <p class="mb-1">
                                          
                              
                                          {{ comment.username }} <span class="small">- {{ comment.time_stamp }}</span>
                                        </p>
                                        {% if user == comment.username %}
                                            <td><a href="/comment/{{ comment.comment_id }}/edit">edit 
                                              
                                            </td>
                                          {% else %}
                                            <td>     </td>
                                          {% endif %}

                                        </tr>
                                      
                                        <a href="#!"><i class="fas fa-reply fa-xs"></i><span class="small"> reply</span></a>
                                      </div>
                                      <p class="small mb-0">
                                        {{ comment.content }}
                                      </p>
                                    </div>
                
                                  
                                  </div>

                                  
                                </div>
                                  </div>
                                </div>
                                {% endfor %}
                                <!-- Comment Form -->
                                <h4 class="mb-2"> add comment </h4>
                                <form action="/single_note/{{ note.note_id }}" method="post" class="mb-5">
                                  <div class="input-group">
                                    <input type="text" name="comment" id="comment" class="form-control" placeholder = "Add a comment" autocomplete="off" required>
                                    <div class="input-group-append">
                                      <button type="submit" class="btn btn-primary gradient-custom-2">Submit</button>
                                    </div>
                                    
                                    <ul class=" mb-15"></ul>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>          
                        
              

              <!-- this is where you can see comments -->
              
                          
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  const noteId= {{note.note_id}}
  let index = 0; 
  let counter = {{note.likes}};
  const likeBtn = document.querySelector('#likeBtn')
  likeBtn.addEventListener('click', async () =>
  {
    const postLikes = await fetch(`/liked/<${noteId}>`);
    const post = (await postLikes.json());
    if(index == 0)
    {
      likeBtn.className = "btn btn-success btn-sm";
      index++;
      let liked = await fetch(`/liked/<${noteId}>`, {method: "POST", headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      }, body: JSON.stringify({likes: ++post.likes}) })
      likedPost = await liked.json()
      //const newPost = await fetch(`/liked/<${noteId}>`);
      //const newLikes = (await newPost.json());
      document.getElementById('counter').textContent = likedPost.likes;
    }
    else
    {
      likeBtn.className = "btn btn-outline-success btn-sm";
      index--;
      let liked = await fetch(`/liked/<${noteId}>`, {method: "POST", headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      }, body:JSON.stringify({likes: --post.likes})})
      likedPost = await liked.json()
      //const newPost = await fetch(`/liked/<${noteId}>`);
      //const newLikes = (await newPost.json());
      document.getElementById('counter').textContent = likedPost.likes;
    }
  })
</script>

{% endblock %}