{% extends '_layout.html' %}

{% block title %} Edit Notes {% endblock %}

{% block body %}
<style> 
  .gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #68625e, rgba(240, 149, 128, 0.2), #dd3675, #b44593);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(25, 95, 161, 0.2), #9582a1, #2e3891, #7e5973);
  }

  .tiledBackground {
      background-image: url(https://www.mozilla.org/media/img/logos/firefox/logo-quantum.9c5e96634f92.png);
      background-size: 150px;
      width: 300px;
      height: 300px;
      border: 2px solid;
      color: pink;
  }
</style>

<section class="vh-100 bg-image" style="background-image: url('https://media1.giphy.com/media/SHzl9Rp6UjlJm9GbSg/giphy.gif?cid=ecf05e47aebcbyo25kk6j2ih7t7xnm5t3cko7h4vdfxs16mc&rid=giphy.gif&ct=g');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-10 col-xl-10 ">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-10 ">
              
              
              <!-- start of single notes code -->
              <div>
                <p class="mb-3 ">Notes: {{ note.title }}</p>
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th scope="col ">Note Title</th>
                            <th scope="col ">Course Name</th>
                            <th scope="col ">Author</th>
                            <th scope="col ">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                              <tr>
                                  <td class="">{{ note.title }}</td>
                                  <td class="">{{ note.course }}</td>
                                  <td class="">{{ note.author.username }}</td>
                                  <td class="">{{ note.descript }}</td>
                              </tr>
                    </tbody>
                </table>
                <div class="mb-3 col-xs-4 ">
                  <button id="likeBtn" class="btn btn-primary gradient-custom-2 ">Like</button>
                  <i class="fas fa-heart"></i>
                  <label><a id="counter">{{note.likes}}</a></label>
                  <!--Not Green: btn btn-outline-success btn-sm Green:btn btn-success btn-sm-->
                </div>
                <div class="mb-3 col-xs-4">
                  <label for="content" class="form-label ">{{ note.title }}</label>
                  <p type="text" name="content" id="content" class="form-control " rows="8" autocomplete="off" required>
                    {{ note.content }}
                  </p>
                </div>
              </div>
              {% if user == note.author.username %}
              <a href="/notes/{{ note.note_id }}/edit">
                <div class="text-center pt-1 mb-1 pb-1">
                  <!-- start of login button, create a block that only brings you to the dashboard page when given the right info-->
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Edit Notes</button>
                  <!-- end of login button-->       
                </div>
              </a>
              {% endif %}
              <!-- end of single notes code-->
              <!-- go to comments-->
              <a href="/notes/{{ note.note_id }}/comments">
               
                <div class="text-center pt-1 mb-4 pb-1">
                  <!-- start of login button, create a block that only brings you to the dashboard page when given the right info-->
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-1" type="submit">View Comments</button>
                  <!-- end of login button-->       
                </div>
              </a>

            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  const noteId= {{note.note_id}}
  let index = 0; 
  let counter = {{note.likes}};
  const likeBtn = document.querySelector('#likeBtn')
  likeBtn.addEventListener('click', async () =>
  {
    const postLikes = await fetch(`/liked/<${noteId}>`);
    const post = (await postLikes.json());
    if(index == 0)
    {
      likeBtn.className = "btn btn-success btn-sm";
      index++;
      let liked = await fetch(`/liked/<${noteId}>`, {method: "POST", headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      }, body: JSON.stringify({likes: ++post.likes}) })
      likedPost = await liked.json()
      //const newPost = await fetch(`/liked/<${noteId}>`);
      //const newLikes = (await newPost.json());
      document.getElementById('counter').textContent = likedPost.likes;
    }
    else
    {
      likeBtn.className = "btn btn-outline-success btn-sm";
      index--;
      let liked = await fetch(`/liked/<${noteId}>`, {method: "POST", headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      }, body:JSON.stringify({likes: --post.likes})})
      likedPost = await liked.json()
      //const newPost = await fetch(`/liked/<${noteId}>`);
      //const newLikes = (await newPost.json());
      document.getElementById('counter').textContent = likedPost.likes;
    }
  })
</script>

{% endblock %}