{% extends '_layout.html' %}

{% block title %}single note page{% endblock %}

{% block body %}
<section class="vh-100 bg-image" style="background-image: url('https://media0.giphy.com/media/9xm2CFwwSt034l8NQt/giphy.gif?cid=790b76110e9dcbc9f2952b740eec74f52db9505879908566&rid=giphy.gif&ct=g');">
    <!-- make a get call for the ionformation on the notes-->
    <div class="">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-10 ">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Notes</h2>
  
                
                

              </div>

              

  
              </div>
            </div>

            
          </div>
        </div>
      </div>
    </div>
    
  </section>

{% endblock %}