{% extends '_layout.html' %}

{% block title %}View All Notes{% endblock %}

{% block body %}
<h1 class="mb-5">All Notes</h1>
<p class="mb-3">Your list of notes below</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Note Title</th>
            <th scope="col">Course Name</th>
            <th scope="col">Author</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        {% for note in notes %}
            <tr>
                <td><a href="/notes/list/{{ notes.notes_id }}">{{ note.title }}</a></td>
                <td>{{ note.course_id }}</td>
                <td>{{ note.creator_id }}</td>
                <td>{{ note.description }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}